body{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
    box-sizing: border-box;

}

.game-mode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 20px;
    padding:20px;
}

.game-mode {
    padding:40px 60px;
}

button .redo {
    display: flex;
    flex-direction: flex-end;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.row1:hover, .row2:hover,.row3:hover {
    transition: ease-in-out .3s;
    background-color: aquamarine;
}
