body{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
   

}

.game-mode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 20px;
    padding:20px;
}

.game-mode {
    padding:40px 60px;
}

button .redo {
    display: flex;
    flex-direction: flex-end;
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.tictac-box{
    display: flex;
    justify-content: center;
    margin: -5px;
    padding: 40px;
    width: 20%;
    height:auto;
    border:none;
    background:none;
}

.tictac-box:hover {
    transition: ease-in-out .3s;
    background-color: aquamarine;
}

/*============boarders===============*/

.one{
    border-right: 1px solid #000;
}

.two{
}

.three{
    border-left: 1px solid #000;
}

.four{
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.five{
    border-top: 1px solid #000;
}

.six{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.seven{
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}

.eight{
    border-top: 1px solid #000;
}

.nine{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

/*=================WIN STATUS==================*/

#win, #tie, #p1Wins, #p2Wins {
    display: none;
}